$color_1: aliceblue;
$font-family_1: Georgia, 'Times New Roman', Times, serif;
$background-color_1: rgb(41, 38, 38);

.parent-class {
	display: flex;
	flex-direction: column;
}
.nav {
	margin: 0px;
	padding: 0px;
	background-color: $background-color_1;
	height: 25px;
	padding: 20px;
	display: flex;
	flex-direction: row;
}
.nav-title {
	color: $color_1;
	font-size: larger;
	font-weight: bold;
	font-family: $font-family_1;
}

